.home_group {
    text-align: center;
}

.title {
    color:cornflowerblue
}

.button_group {
   margin: 40px 0;
}

.button_group a {
    border: 2px solid rgb(63, 96, 158);
    background-color: rgb(63, 96, 158);
    padding: 10px;
    color: white;
    margin-left: 10px;
}

.button_group :hover {
    background-color: rgb(152, 170, 204);
    border-color: rgb(152, 170, 204);
}